---
layout: archive
permalink: /categories/
title: "Posts by Category"
id: "pages/categories"
---

{% include base_path %}

{% include group-by-array collection=site.posts field="categories" %}
  
{% if group_names %}
  <h2 style="font-size: 1.25em; color: #0085a1; font-weight: normal">分类列表</h2>
{% endif %}
<blockquote style="border-left-color:#eee">
  <div id="all_categories" class="rightbar">
    {% for category in group_names %}
      <p class="categories_keyword"><a href="{{ category | slugify | prepend: '#' }}">{{ category }} <span class="post_num">({{ site.categories | append: '.' | append: '{{ category }}' | size }})</span></a></p>
    {% endfor %}
  </div>
</blockquote>

{% for category in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ category | slugify }}" class="archive__subtitle" style="font-size: 1.25em; color: #0085a1; font-weight: normal"><i class="fa fa-fw fa-folder-open" aria-hidden="true"></i>{{ category }}</h2>
  {% for post in posts %}
    {% include archive-single-onlyheader.html %}
  {% endfor %}
{% endfor %} 
