---
layout: archive
permalink: /post-by-month/
title: "Posts by month"
author_profile: true
---

{% include base_path %}
{% capture written_time %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture time %}{{ post.date | date: '%Y-%m' }}{% endcapture %}
  {% if time != written_time %}
    <h2 id="{{ time | slugify }}" class="archive__subtitle">{{ time }}</h2>
    {% capture written_time %}{{ time }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}

<script type="text/javascript">
var duoshuoQuery = {short_name:"ppmenghomecom"};
  (function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
</script>
