{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2 class="archive__item-title" itemprop="headline" style="margin:1em 0 0 2em;font-size:1.1em;color: #494e52;font-weight: normal">
      {% if post.link %}
        <a target="_blank" href="{{ post.link }}">{{ title }}</a> 
        <a target="_blank" href="{{ base_path }}{{ post.url }}" rel="permalink">
            <i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span>
        </a>
      {% else %}
        <a target="_blank" href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
  </article>
</div>