{% if post.read_time %}
  {% assign words = post.content | strip_html | number_of_words %}
{% elsif page.read_time %}
  {% assign words = page.content | strip_html | number_of_words %}
{% endif %}

{% if site.words_per_minute %}
  {% if words < 180 %}
	  {{ site.data.ui-text[site.locale].less_than | default: "less than" }} 1 minute {{ site.data.ui-text[site.locale].to_read | default: "to read" }}
	{% elsif words < 250 %}
	  1 {{ site.data.ui-text[site.locale].to_read | default: "to read" }}
	{% else %}
	  {{ words | divided_by:site.words_per_minute }} minutes {{ site.data.ui-text[site.locale].to_read | default: "to read" }}
	{% endif %}
{% else %}
  {{ site.data.ui-text[site.locale].undefined_wpm | "Undefined parameter words_per_minute at _config.yml" }}
{% endif %}