{% include base_path %}

<div class="sidebar__right">
  <!--文章分类 start-->
  <!--category[0] 标签名； category[1]该标签下文章-->
  <div id="categories" class="right-items">
    {% if site.categories %}
    <h4 class="right-minititle">文章分类</h4>
    {% endif %}
    
    <ul>
      {% for category in site.categories %}
      <li class="category_item">
        <a href="{{ base_path | append: '/categories/' }}{{ category[0] | slugify | prepend: '#' }}">{{ category[0] }}&nbsp;({{ category | last | size }})</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <!--文章分类 end -->

  <!--文章归档 start--> 
  <div id="all__posts" class="right-items">
    <h4 class="right-minititle">文章归档</h4>
    {% assign time_list = '' | split: ',' %}
    {% capture post_time %}'notime'{% endcapture %}
    {% for post in site.posts %}
      {% capture time_item %}{{ post.date | date: '%Y-%m' }}{% endcapture %}
      {% if time_item != post_time %}
        {% capture post_time %}{{ time_item }}{% endcapture %}
        {% assign time_list = time_list | push: post_time %}
      {% endif %}
   {% endfor %}
   
   {% assign group_by_timelist = '' | split: ',' %}
   {% for t in time_list %}
     {% assign _item_ = '' | split: ',' %}
     {% for post in site.posts %}
       {% capture post_t %}{{ post.date | date: '%Y-%m' }}{% endcapture %}
       {% if post_t == t %}
         {% assign _item_ =  _item_ | push: post_t %}
       {% endif %}
     {% endfor %}
     {% assign group_by_timelist = group_by_timelist | push: _item_ %}
   {% endfor %}
   <!--按照时间统计文章数目 start-->
    <ul>
      {% for eachtime in time_list %}
        <li class="{{ eachtime | slugify }} time_list">
          <a href="{{ base_path | append: '/post-by-month/' | append: '#' }}{{ eachtime }}">{{ eachtime }}&nbsp;({{ group_by_timelist[forloop.index0] | size }})</a>
        </li>
      {% endfor %}
    </ul>
    <!--按照时间统计文章数目 end-->
  </div>
  <!--文章归档 end-->

  <!-- 多说热评文章 start -->
  {% if site.comments.provider == "custom" %}
  <div id="hot__posts" class="right-items">
    <h4 class="right-minititle">热评文章</h4>
    <ul class="ds-top-threads" data-range="weekly" data-num-items="5"></ul>
  </div>
  {% endif %}
  <!-- 多说热评文章 end -->
</div>

<script type="text/javascript">
var duoshuoQuery = {short_name:"ppmenghomecom"};
  (function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
</script>