{% include base_path %}

<section class="page__share">
  {% if site.data.ui-text[site.locale].share_on_label %}
    <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</h4>
  {% endif %}

  <a href="https://twitter.com/intent/tweet?{% if site.twitter.username %}via={{ site.twitter.username }}&{% endif %}text={{ page.title }} {{ base_path }}{{ page.url }}" class="btn btn--twitter" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Twitter"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i><span> Twitter</span></a>

  <a href="https://www.facebook.com/sharer/sharer.php?u={{ base_path }}{{ page.url }}" class="btn btn--facebook" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Facebook"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i><span> Facebook</span></a>

  <a href="https://plus.google.com/share?url={{ base_path }}{{ page.url }}" class="btn btn--google-plus" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Google Plus"><i class="fa fa-fw fa-google-plus" aria-hidden="true"></i><span> Google+</span></a>

  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ base_path }}{{ page.url }}" class="btn btn--linkedin" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} LinkedIn"><i class="fa fa-fw fa-linkedin" aria-hidden="true"></i><span> LinkedIn</span></a>
</section>
<!--修改为多说分享-->
<!--
<section class="page__share">
  <div class="ds-share" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-images="{{ site.url }}{{site.baseurl}}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}" data-content="{{ content | strip_html | truncate:80 }} | {{ site.SEOTitle }}" data-url="{{site.url}}{{site.baseurl}}{{page.url}}">
    
    <div class="ds-share-inline">
      <ul  class="ds-share-icons-16">
        {% if site.data.ui-text[site.locale].share_on_label %}
          <li data-toggle="ds-share-icons-more" class="page__share-title"><a class="ds-more" href="javascript:void(0);">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</a></li>
        {% endif %}
        <li><a class="ds-wechat" href="javascript:void(0);" data-service="wechat">微信</a></li>
        <li><a class="ds-weibo" href="javascript:void(0);" data-service="weibo">微博</a></li>
        <li><a class="ds-qzone" href="javascript:void(0);" data-service="qzone">QQ空间</a></li>
        <li><a class="ds-douban flat" href="javascript:void(0);" data-service="douban">豆瓣</a></li>
      </ul>
      <div class="ds-share-icons-more"></div>
  </div>
 </div>
</section>
-->